@font-face {
  font-family: 'el-icon-White';
  src: url('fonts/el-icon-White.eot?ina7m6');
  src: url('fonts/el-icon-White.eot?ina7m6#iefix') format('embedded-opentype'),
    url('fonts/el-icon-White.ttf?ina7m6') format('truetype'),
    url('fonts/el-icon-White.woff?ina7m6') format('woff'),
    url('fonts/el-icon-White.svg?ina7m6#White') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="el-icon-"],
[class*=" el-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'el-icon-White' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-alarm-clock:before {
  content: "\e900";
}

.el-icon-arrow-down:before {
  content: "\e901";
}

.el-icon-arrow-left:before {
  content: "\e902";
}

.el-icon-arrow-right:before {
  content: "\e903";
}

.el-icon-arrow-up:before {
  content: "\e904";
}

.el-icon-back:before {
  content: "\e905";
}

.el-icon-caret-bottom:before {
  content: "\e906";
}

.el-icon-caret-left:before {
  content: "\e907";
}

.el-icon-caret-right:before {
  content: "\e908";
}

.el-icon-caret-top:before {
  content: "\e909";
}

.el-icon-check:before {
  content: "\e90a";
}

.el-icon-circle-check:before {
  content: "\e90b";
}

.el-icon-circle-close:before {
  content: "\e90c";
}

.el-icon-circle-plus-outline:before {
  content: "\e90d";
}

.el-icon-close:before {
  content: "\e90e";
}

.el-icon-copy-document:before {
  content: "\e90f";
}

.el-icon-d-arrow-left:before {
  content: "\e910";
}

.el-icon-d-arrow-right:before {
  content: "\e911";
}

.el-icon-delete-solid:before {
  content: "\e912";
}

.el-icon-document-add:before {
  content: "\e913";
}

.el-icon-download:before {
  content: "\e914";
}

.el-icon-edit:before {
  content: "\e915";
}

.el-icon-edit-outline:before {
  content: "\e916";
}

.el-icon-error:before {
  content: "\e917";
}

.el-icon-full-screen:before {
  content: "\e918";
}

.el-icon-link:before {
  content: "\e919";
}

.el-icon-loading:before {
  content: "\e91a";
}

.el-icon-lock:before {
  content: "\e91b";
}

.el-icon-minus:before {
  content: "\e91c";
}

.el-icon-n-date:before {
  content: "\e91d";
}

.el-icon-picture-outline:before {
  content: "\e91e";
}

.el-icon-plus:before {
  content: "\e91f";
}

.el-icon-refresh-left:before {
  content: "\e920";
}

.el-icon-refresh-right:before {
  content: "\e921";
}

.el-icon-remove-outline:before {
  content: "\e922";
}

.el-icon-right:before {
  content: "\e923";
}

.el-icon-search:before {
  content: "\e924";
}

.el-icon-s-finance:before {
  content: "\e925";
}

.el-icon-s-fold:before {
  content: "\e926";
}

.el-icon-s-ticket:before {
  content: "\e927";
}

.el-icon-success:before {
  content: "\e928";
}

.el-icon-s-unfold:before {
  content: "\e929";
}

.el-icon-time:before {
  content: "\e92a";
}

.el-icon-top:before {
  content: "\e92b";
}

.el-icon-unlock:before {
  content: "\e92c";
}

.el-icon-upload:before {
  content: "\e92d";
}

.el-icon-user:before {
  content: "\e92e";
}

.el-icon-warning:before {
  content: "\e92f";
}

.el-icon-zoom-in:before {
  content: "\e930";
}

.el-icon-zoom-out:before {
  content: "\e931";
}