// dev的loading样式
#modelLibraryMain,#account,#globalSetting,#systemLog,#messageDataGrid
  .dx-overlay
    .dx-overlay-wrapper
      .dx-loadpanel-content
        .dx-loadpanel-content-wrapper
          .dx-loadindicator
            width: 120px
            height 120px
          .dx-loadpanel-message
            font-size 20px
            color #555555
            font-weight 1000
#customizationDevLoading
  .dx-loadpanel-content
    .dx-loadpanel-content-wrapper
      .dx-loadindicator
        width: 120px
        height 120px
      .dx-loadpanel-message
        font-size 20px
        color #555555
        font-weight 1000