#customScaleDialog
  .nvDialogMask
    .dialog
      border-radius: 4px
      .body
        margin-bottom 30px
#luckysheet-dropCell-typeList
  z-index: 3000
#luckysheet-rightclick-menu
  z-index: 3000
#luckysheet-formula-search-c
  z-index: 3000