.ol-viewport
  .ol-overlaycontainer-stopevent
    .content
      width: 151.13px;
      height: 30px;
      line-height: 30px
      border-radius: 2px;
      background: rgba(74, 109, 152, 0.7);
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.27);
      position: absolute;
      top: 1.5em;
      right: 60px;
      display: flex
      color: #ffffff
      margin-top: 1px
      .common
        flex: 1
        text-align: center
        font-size: 12px
        cursor pointer
        span
          display: inline-block
          padding: 0 3px