#originalPoint
  position absolute
  z-index 2
  left 0
  top 0
  display flex
  justify-content center
  align-items center
  width 16px
  height 16px
  border-right 1px solid #dddddd
  border-bottom 1px solid #dddddd
  font-size 12px
  background-color #FFFFFF
  color #000000
  .icon--miaozhun
    zoom 0.8
  .item
    cursor pointer
